# Assignment 2

Q1. Print your name as a:
* large header, 
 * smaller header and, 
 * an even smaller header and, 
 * in normal font 
 
Create a new cell for each answer.

Q1 Answers:
 # Eddy Alfaro Cordoba 
 ## Eddy Alfaro Cordoba 
 ### Eddy Alfaro Cordoba 
 Eddy Alfaro Cordoba

Q2. Create a bulleted list below of the different modes of machine learning.

Q2 answers: 
 - Surpervised Learning 
 - Unsupervised Learning 
 - Reinforcement Learning

Q3. Use this website: https://www.markdownguide.org/basic-syntax/ to learn how to type your name out in:
* Bold
* Italics
* Bold and italics

Use a separate cell for each answer. On the website, only refer to the entries related to **'Markdown'**. Dont worry about the entries corresponding to 'HTML'.

Q3 answers:  
  __Eddy Alfaro Cordoba__  
  _Eddy Alfaro Cordoba_  
  ___Eddy Alfaro Cordoba___

Q4. Add all integers from 0 to 5. Print the data type associated with the answer.

In [1]:
Sum = 0 + 1 + 2 + 3 + 4 + 5 
type(Sum)

int

Q5. Define a variable that takes the value of 5. Call it x. Define another variable that takes the value of 3. Call it y. Multiply x and y. Assign the value to a new variable called z. Use the 'print' command to print the answer.

In [3]:
x = 5 
y = 3 
z = x * y 
print(z)

15

Q7. Multiply x to the power of 0.5 and y to the power of 0.5. Assign the value to a new variable called z. Use the 'print' command to print the answer. Why is the value of z in this question different from value in the previous question?

In [8]:
x = x**0.5
y = y**0.5
z = x * y
print(z)

1.4028505520066743

Q8. Find the integer part of 22/7. Your code should start with a value of pi = 22/7 and discard the fraction (using some mathematical operation).

In [9]:
pi = int(22/7)
print(pi)

3

Q9. In the code below, there may be a few errors. If you see something wrong, fix it and type out the correct code.

In [12]:
x = 3
y = x**0.5 - 4
print(y)

-2.267949192431123

Q10. In the code below, there may be a few errors. If you see something wrong, fix it and type out the correct code.I am attempting to add all integers from 1 to 5 and storing and printing it in the variable called Sum.

In [24]:
x = 5
Sum = 5

In [25]:
x = x - 1
Sum = Sum + x

In [26]:
x = x - 1
Sum = Sum + x

In [27]:
x = x - 1
Sum = Sum + x

In [28]:
x = x - 1
Sum = Sum + x

In [29]:
print(Sum)

15

Q11. Find the sum of all integers from 0 to 5, but start from the smallest number. Note that in the previous question, you started with 5 and kept decreasing the quantity being added to the variable, Sum.

In [32]:
Sum = 0
for i in range(0, 6):
    Sum = Sum + i
print(Sum)

15

Q12. In the code below, there may be a few errors. If you see something wrong, fix it and type out the correct code.Below, I am attempting to find the factorial of 6

In [48]:
n = 6
Factorial = 1

1

In [55]:
Factorial = Factorial * n
n = n - 1

In [56]:
Factorial = Factorial * n
n = n - 1

In [57]:
Factorial = Factorial * n
n = n - 1

In [58]:
Factorial = Factorial * n
n = n - 1

In [59]:
Factorial = Factorial * n
n = n - 1

In [54]:
print(Factorial)

720

Q13. Find the factorial of 7. Start with the smallest number. Note that in the previous question, you started with 6 and kept decreasing the quantity being multiplied.

In [63]:
factorial = 1
for i in range(1, 8):
    factorial = factorial * i
print(factorial)

5040